@{
    ViewData["Title"] = "Autor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Autor Del Proyecto</h1>
</div>

<img class="logotipo_acercade_central" src="~/img/Presenta.bmp" />
<div class="titulo_acercade_logotipo_linea01">
    <p>Dml Softwares</p>
</div>
<div class="titulo_acercade_logotipo_linea02">
    <p>Análisis & Diseño De Aplicaciones Web</p>
</div>

<div class="leyenda_acercade">
    <p>
        Página Web De Control Planificación
    </p>
    <p class="colorear_acercade">
        CopyRight(2023) - Versión: 01.00
    </p>
    <p class="primeraleyendaacercade">
        Santa Cruz - Bolivia
        <br />
        Fecha: 01-Enero-2023
    </p>
</div>


<!-- Content Row -->
<div style="margin-top:300px" class="row">
    <!-- Total de ventas -->
    <div class="col-xl-autor01">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body-autor">
                <p style="font: bold 14px Arial, Serif">
                    Advertencia: Esta Página Web Está Protegido Por Las Leyes De Derecho De Autor. Su Reproducción Total o Parcial Sin La Autorización Del Autor Dará Lugar a Las
                    <br />
                    Responsabilidades Civiles y Penales.
                </p>
            </div>
        </div>
    </div>

    <div class="col-xl-autor02">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body-autor">
                <p style="font: bold 14px Arial, Serif">
                    Cualquier Solicitud De Aplicaciones Web o Aplicaciones Cliente - Servidor Requeridos Por Una Empresa o Cualquier Proyecto Universitario
                    Comuniquese Con: David Michel López - Analista De Sistemas Informaticos. Teléfonos: (011) (+591) 3-3469751 Tipazo: (011) (+591) 3-3213223
                    <br /><br />
                    Correo Electrónico: lopezdami@gmail.com           Teléfono Celular: 60854691
                </p>
            </div>
        </div>
    </div>

    <div class="col-xl-autor03">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body-autor">
                <p class="colorear_acercade_autor">
                    Desarrollado Por Dml Softwares En El Año MMXXIII - Elaborated By Dml Softwares Year MMXXIII
                </p>
                <p style="text-align:center; font: bold 12px Georgia, Serif;">
                    Prohibida Su Reproducción Sin Autorización Del Autor.         Santa Cruz De La Sierra - Bolivia
                </p>
            </div>
        </div>
        <img class="logotipo_acercade_inferior" src="~/img/Bolivia_02.bmp" />
    </div>

</div>

<!-- Content Row -->

<div class="row">

    <!-- Area Chart - Ventas de los ultimos 7 días -->
    <!-- Pie Chart - Productos más vendidos-->

</div>
@section Scripts{
    <link href="~/css\estiloacercade.css" rel="stylesheet" />
    <script src="~/vendor/chart.js/Chart.min.js"></script>

    <!-- SOLO ES DE EJEMPLO - IGNORAR -->
    <script src="~/js/vistas/chart-bar-demo.js"></script>
    <script src="~/js/vistas/chart-pie-demo.js"></script>
}